body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, main, footer {
    width: 1280px;
    margin: 0 auto;
}

header {
    padding-bottom: 48px;
}

.heading {
    margin-bottom: 39px;
    margin-top: 63px;
}

.logo {
    text-decoration: none;
    color: #4BCAFF;
    font-size: 80px;
}

span {
    color: #000000;;
}

.nav-top {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.nav-top a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    border-left: solid 1px white;
    padding: 22px 40px;
}

.nav-top a:hover {
    background: #222F3A;;
}

.nav-top a:nth-last-child(1) {
    border-right: solid 1px white;
}

aside {
    padding-right: 48px;
    display: flex;
    align-items: flex-start;
}

.items-aside {
    border: solid 1px black;
    width: 344px;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
}

.items-aside li {
    list-style-type: none;;
    font-size: 27px;
    line-height: 27px;
}

.items-aside li a {
    display: block;
    text-decoration: none;
    color: #495863;
    padding: 26px 44px;
}

.items-aside li a:hover {
    padding: 26px 44px 25px 73px;
    width: 100%;
    background: #DBDBDB;
}

section {
    border: solid 1px black;
    width: 841px;
    height: 529px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    cursor: pointer;
}


.img:hover {
    transform: scale(1.3);
    transition: 2s;
}

main {
    display: flex;
    flex-direction: row;
}

.text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}

footer {
    align-items: center;
    flex-direction: row;
    padding-top: 54px;
}
.footer-container{
    display: flex;
     background: rgba(99, 105, 110, 0.48);
}

.items-down {
 display: flex;
}

.items-down a {
    justify-content: flex-start;
    color: #0C1927;
    text-decoration: none;
    font-size: 24px;
    padding: 22px;
}

.items-down a:hover {
    color: #3181A6;
    border-bottom: solid 1px #3181A6;
}

.copyright-down {
    text-align: right;
    padding-right: 40px ;
    margin-left: auto;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    justify-content: flex-end;

}




